<footer class="footer bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Contact Information -->
        <div class="col-md-6 mb-3">
          <h5>Contact Us</h5>
          <p>Email: info@example.com</p>
          <p>Phone: +1 234 567 890</p>
          <p>Address: 1234 Street Name, City, Country</p>
        </div>
  
        <!-- Social Media Links -->
        <div class="col-md-6 mb-3 text-center text-md-start">
          <h5>Follow Us</h5>
          <a href="https://www.instagram.com" target="_blank" class="text-white me-3">
            <i class="fab fa-instagram fa-2x"></i> <!-- Font Awesome icon for Instagram -->
          </a>
          <a href="https://www.facebook.com" target="_blank" class="text-white">
            <i class="fab fa-facebook fa-2x"></i> <!-- Font Awesome icon for Facebook -->
          </a>
        </div>
      </div>
      <div class="text-center mt-3">
        <small>&copy; 2024 PerfectYou. All rights reserved.</small>
      </div>
    </div>
  </footer>
  