<div class="container my-5">
    <h4 class="text-center mb-3">
      <a class="btn btn-link text-decoration-none" data-bs-toggle="collapse" href="#collapseHowItWorks" role="button" aria-expanded="false" aria-controls="collapseHowItWorks">
        Want to know what to do in each step? Click here to learn more.
      </a>
    </h4>
    <div class="collapse" id="collapseHowItWorks">
      <div class="row text-center py-4 how-it-works-section">
        <!-- Column 1: Upload Pictures -->
        <div class="col-md-4">
          <h3>Upload Pictures</h3>
          <p>Start by selecting the pictures you want to upload. This is the first step to customize your experience. Make sure the pictures are clear and meet the upload requirements.</p>
        </div>
  
        <!-- Column 2: Select Theme -->
        <div class="col-md-4">
          <h3>Select Theme</h3>
          <p>Choose from a variety of themes like Superhero, Anime, or Cartoon. You can also enter a custom theme to personalize the outcome according to your preferences.</p>
        </div>
  
        <!-- Column 3: Let's Start -->
        <div class="col-md-4">
          <h3>Start Your Journey</h3>
          <p>Once your pictures are uploaded and the theme is selected, click the "Let's Start" button. Our system will process your inputs and generate the customized content based on your choices.</p>
        </div>
      </div>
    </div>
  </div>
  