
  <!-- Hero Section -->
<section id="main-section" class="hero-section text-center text-light d-flex align-items-center">
  <div class="container">
    <h1 class="hero-title mb-4">Bienvenido a PerfectYou.AI</h1>
    <p class="hero-description mb-4">
      Con PerfectYou.AI lograrás crear fotos híper-reales de ti con el look que definas, imágenes de quien tú quieras en situaciones y contextos geniales, ¡donde tu imaginación es el límite! Además, genera contenido especial para compartir en todas tus redes sociales.
    </p>
    <a href="#get-started" class="btn btn-primary btn-lg">Comienza Ahora</a>
  </div>
</section>